{%extends 'base.html'%} {% block content %}
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })
</script>
<div class="container">
    <!-- Looping through category  -->
    {% for i in image %}


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="#" class="btn btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{i.id}}">
            <img src="{{i.image.url}}" class="img-fluid" alt="Image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{i.id}}" tabindex="" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #6153cc;"> {{i.name}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
                </div>
                    <div class="modal-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src=" {{i.image.url}} " class="img-fluid" alt="Image " class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
                        <h2 class="text-center " style="color: #6153cc; "> {{ i.name }} </h2>
                        <p>{{i.caption}}</p>
                        <p style="color: #6153cc;">Like: {{i.likes}}</p>
                    </div>
      
            </div>
        </div>
    </div>

    <!-- end of modal -->


    <br> {% empty %}
    <div class="row ">
        <h2 class="text-center ">There No images</h2>
        <p>{{i.description}}</p>

    </div>
    {% endfor %}
</div>


{% endblock %} {% block scripts %} {{block.super}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
{% endblock %}