{%extends 'base.html'%} {% load bootstrap4 %} {% block content %} {{block.super}} {% for p in profile %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
            <img src="{{p.profile_photo.url}}" class="rounded-circle" width="200" height="200">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
            <p>Name: {{p.name}}</p>
            <p>Username: {{p.user.username}} </p>
            <p>{{current_user}}</p>
            <p>Bio: {{p.bio}}</p>
            <div>
                <form action="follow_count" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{current_user}}" readonly/>
                    <input type="hidden" name="follower" value="{{user.username}}" readonly/> {% if follow_button_value == 'follow' %} <input type="hidden" name="value" value="follow" readonly/>
                    <button type="submit" class=" btn btn-info ">Follow</button> {% else %} <input type="hidden" name="value" value="unfollow" readonly/>
                    <button type="submit" class=" btn btn-info ">Unfollow</button>{% endif %}

                    <div class='row'>
                        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6"><span class="profile-stat-count">{{user_followers}}</span> Followers</div>
                        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6"><span class="profile-stat-count">{{user_following}}</span> Following</div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })
</script>
<div class="container ">
    <!-- Looping through category  -->
    {% for i in image %}

    <div class="row ">
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-6 ">
            <a href="#" class="btn btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{i.id}}">
                <img src="{{i.image.url}}" class="img-fluid" alt="Image" class="col-md-3 col-sm-6 col-xs-12"> </a>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{i.id}}" tabindex="" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true ">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #6153cc;"> {{i.name}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
                    </div>
                    <div class="modal-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src=" {{i.image.url}}" class="img-fluid" alt="Image" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> </a>
                        <h2 class="text-center" style="color: #6153cc;"> {{ i.name }} </h2>
                        <p>{{i.caption}}</p>


                        <!-- added likes code -->

                        <for method="POST ">
                            {% csrf_token %}
                            <button type="submit" name="blogpost_id" value class="btn btn-info">Like</button>
                    </form>
                    <!-- end of likes codes -->

                    <!-- comment -->
                    {% load crispy_forms_tags %}

                    <form method="POST ">
                        {% csrf_token %} {{comment_form.as_p}}
                        <button type="submit " name="blogpost_id" value="{{object.id}}" class="btn btn-info">Comment</button>
                    </form>
                    <!-- end of comments -->
                </div>

            </div>
        </div>
    </div>
    <!-- end of modal -->


    <br> {% empty %}
    <div class="row">
        <h2 class="text-center">There No images</h2>
        <p>{{i.description}}</p>

    </div>
    {% endfor %}
</div>


<div class="container-fluid">

    <form action="{% url 'home' %}" method="post">
        {%csrf_token%} {% bootstrap_form letterForm layout='inline' %}
        <input type="submit " value="Subscribe ">
    </form>

</div>
{% endblock %}{% block scripts %} {{block.super}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
{% endblock %}